<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly - {{user.first_name}} {{user.last_name}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <img src="{{ user.image_url }}" alt="">
    
    <h1 id="username">{{user.first_name}} {{ user.last_name }}</h1>

    <input id="edit-button" type="button" onclick="location.href='/users/{{ user.id }}/edit';" value="Edit">
    <input id="delete-button" type="button" onclick="location.href='/users/{{ user.id }}/delete';" value="Delete">

    
</body>
</html>