<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Boggle Rocks a bit!</h1>

    <table>
    {% for row in board: %}
        <tr>
    {% for space in row: %}
        <td class="space">{{ space }}</td>
    {%endfor%}
        </tr>
    {%endfor%}
    </table>

    <form action="" id="word-guess-form">
        <label for="word-guess">Guess a Word:</label>
        <input type="text" name="word-guess" id="word-guess">
        <button id="word-guess-button">Guess!</button>
    </form>

    <p>{{wordGuess}}</p>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/scripts.js"></script>
    
</body>
</html>