{%extends 'base.html'%}

{%block title%}Survey Taker - Question {{index}}{%endblock%}

{%block content%}

<h2>{{title}}</h2>
<p>{{question.question}}</p>
<form action="/next" id="response" method="POST">
    <label for="response-list">Choose a Response:</label>
    <select name="response-list" id="response-list">
        {%for option in question.choices%}
        <option value="{{option}}">{{option}}</option>
    {%endfor%}
    </select>
    <button>Next</button>
</form>

<div>
    <form action="/back" method="GET">
        <button>Back</button>
    </form>
</div>
{%endblock%}
