{%extends 'base.html'%}

{%block title%}Survey Taker - Question {{index}}{%endblock%}

{%block content%}

{%for msg in get_flashed_messages() %}
<p>{{msg}}</p>
{%endfor%}

<h2>{{title}}</h2>
<p>{{question.question}}</p>
<form action="/next" id="response-list" method="POST">
    <select name="response" id="response">
        {%for option in question.choices%}
        <option value="{{option}}">{{option}}</option>
    {%endfor%}
    </select>
    <button>Next</button>
</form>

<div>
    <form action="/back" method="GET">
        <button>Back</button>
    </form>
</div>
{%endblock%}
